.footer
  .footerTop
    .footerTop__box
      %h2 だれでもかんたん、人生を変えるフリマアプリ
      %p 今すぐ無料ダウンロード！
      %img(src="" alt="")/
      %img(src="" alt="")/
  .footerBottom
    .footerBottom
      %ul.contents
        %li.content
          %h3 FURIMAについて
          %ul
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
        %li.content
          %h3 FURIMAについて
          %ul
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
        %li.content
          %h3 FURIMAについて
          %ul
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
            %li
              %a{:herf => "#"} 会社概要
      .footerlogo
        %img_tag(src="" alt="")/
        %p © FURIMA