@mixin btn{
  width: 370px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    margin:10px 0  40px 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

@mixin textarea{
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


.red{
  color: white;
  font-weight: 600;
  background-color: red;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 5px;
}

.textarea{
  @include textarea;
  width: 340px;

}

.name__textarea{
  @include textarea;
  width: 160px;
}

.textarea:focus{
  outline: 1px #0099FF solid ;
}

.name__textarea:focus{
  outline: 1px #0099FF solid ;
}

.field{
  margin: 30px auto;
}

.name__field{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.field--name{
  margin: 0;
}

.sign--page{
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}

.signin--page{
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
}


.sign{
    background-color: #fff;
    width: 700px;
    height: 100%;
    margin: 0 auto;

    &__container{
      height: 100%;
      &--title{
        height: 100px;
        border-bottom: 1px solid silver;
        line-height: 100px;
        font-size: 22px;
        text-align: center;
      }
      &--form{
        padding: 30px 140px;
        margin: 0 auto;
        &--text{
          font-size: 22px;
        }
        &--identfication{
          font-size: 14px; 
          margin: 5px 0 20px;
        }
      }
    }
  }

.regist{
  &--btn{
    background-color: red;
    color: #fff;
    @include btn;
  }
}

.login{
  &--btn{
    background-color: #0f0;
    color: black;
    @include btn;
  }
}