.main
  .topPage
    .topPage__box
      .topPage__box__content
      %h1 人生を変えるフリマアプリ
      .topPage__box__text
      %p FURIMAはだれでもかんたんに出品・購入できる
      %br/ フリマアプリです
      .topPage__box__images
      %img(src="/aseets/images/appstore.png" alt="apple")/
      %img(src="/aseets/images/googleplay.jpg" alt="google")/

  .orderPage
    .orderPage__title
    %h1 FURIMAが選ばれる３つの理由
    .orderPage__images
      .orderPage__image
      %img(src="/aseets/images/order-01.jpg" alt="1")/
      %span 1
      %h3 3分ですぐに出品
      %p スマホで入力するだけで簡単
      %br/に出品できる！
      .orderPage__image
      %img(src="/aseets/images/order-02.jpg" alt="2")/
      %span 2
      %h3 シンプルで使いやすい
      %p めんどくさい入力は必要な
      %br/く、検索も購入もスムーズ！
      .orderPage__image
      %img(src="/aseets/images/order-03" alt="3")/
      %span 3
      %h3 手数料業界最安
      %p 最大3%でお得に出品&購入！

  .featurePage
    .featurePage__title
    %h1 FURIMAの特徴
    .featurePage__images
      .featurePage__image
      %img(src="" alt="1")/
      %img(src="" alt="1")/
      %img(src="" alt="1")/







