@import "reset";

@import "font-awesome-sprockets";	@import "font-awesome-sprockets";
@import "font-awesome";	@import "font-awesome";
@import "modules/footer";
@import "modules/header";
@import "modules/new";
@import "modules/index";
@import "modules/show";
@import "modules/form";
@import "show";
@import "edit";
*{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }

