@import "reset";
@import "font-awesome-sprockets";	@import "font-awesome-sprockets";
@import "font-awesome";	@import "font-awesome";
// @import "modules/footer";
// @import "modules/header";
// @import "modules/new";
@import "form";

*{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
  }