.showMain {
  background-color: #f8f8f8;
  padding: 40px;
  .topContent {
    width: 700px;
    margin: 0 auto;
    .itemBox {
      background-color: white;
      padding: 24px 40px 40px;
      .itemBox__name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      .itemBox__body {
        margin-top: 16px;
      }
      .itemBox__price {
        text-align: center;
        margin: 24px 0 24px;
        span {
          font-size: 46px;
          font-weight: bold;
          margin-right: 10px;
        }
        &--detail {
          span {
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
      .itemDetail {
        font-size: 18px;
        margin-bottom: 30px;
        }
      
        table {
          width: 100%;
          height: 375px;
          border: lightgray;
          margin-bottom: 20px;
          .left-top {
            background-color: #EEEEEE;
            width: 20%;
            text-align: center;
            font-weight: 400px;
            padding: 8px;
            font-size: 14px;
          }
          .right-top {
            width: 61%;
            font-weight: 400px;
            padding: 15px;
            font-size: 14px;
          }
          .left-lists {
            background-color: #EEE;
            text-align: center;
            font-weight: 400px;
            padding: 8px;
            font-size: 14px;
          }
          .right-lists {
            font-weight: 400px;
            padding: 15px;
            font-size: 14px;
          }
      }
        .optionalArea {
          display: flex;
          justify-content: space-between;
          .optionalBtnLikebtn {
            display: inline-block;
            color: #3ccace;
            padding: 6px 10px;
            margin-right: 0 auto;
            border: 1px solid #ffb340;
            border-radius: 40px;
          }
          .optionalBtn {
            font-size: 14px;
            color: #333;
            border: 1px solid #333;
            display: inline-block;
            border-radius: 4px;
            padding: 6px 10px;
            text-decoration: none;
          }
        }
    }
        .commentBox {
          background-color: white;
          padding: 24px;
          margin: 10px;
          text-align: center;
          .commentContents {
            
            .comment {
              width: 100%;
              min-height: 104px;
            }
            .noticeMsg {
              background-color: #f8f8f8;
              margin: 10px;
              text-align: left;
              margin: 10px;
              font-size: 14px;
            }
            .commentBtn {
              background-color: #3ccace;
              color: #fff;
              border: 1px solid #3ccace;
              border-radius: 100px;
              line-height: 48px;
              width: 60%;
              font-size: 18px;
            }
          }
        }
        .links {
          display: flex;
          justify-content: space-between;
          .itemLinks {          
            text-decoration: none;
            color: #3ccace;
            }
        }
        .productLists {
          display: block;
          margin: 24px 0 8px;
          text-decoration: none;
          color: #3ccace;
          font-weight: bold;
          font-size: 22px;
          
        }
    
  }
}