// 共通

// ここからメイン

.mainUser{
  background-color:#f8f8f8;
  display: flex;
  padding: 50px 220px;
  a{
    text-decoration: none;
    color: #333;
    display: block;
  }

}

.left{
  width: 25vw;

  .leftUpper{
    margin-bottom: 20px;
    width: 100%;

    table{
      width: 100%;
      tr{
        border: solid 1px black;
        background-color: white;
        th{
          padding: 10px;
          background-color: #eee;
        }
        td{
          padding: 10px;
          }
        td:hover{
          background-color:#eee ;
        }
      }
    }
  }
  .leftBottom{
    margin-top: 20px;
    background-color:white;
    table{
      width: 100%;
      tr{
        border: solid 1px black;
        background-color: white;
        th{
          padding: 10px;
          background-color: #eee;
        }
        td{
          padding: 10px;
        }
        td:hover{
          background-color:#eee ;
        }
      }
    }

  }
}

.right{
  width:50vw;
  margin-left: 80px;
  .userBox{
    background-color: white;
    margin-bottom: 20px;
    &__name{
      padding: 20px;
      font-size: 20px;
      border: black solid 1px;
    }
    &__title{
      padding:10px;
      border: solid black 1px;

    }
    &__items{
      height: 248px;
      border: solid black 1px;

    }
  }
  .rightBottom{
    background-color: white;
    .favorite{ 
      border: solid black 1px;
      padding: 10px;


    }
    .itemBox{
      border: solid 1px black;
      height: 178px;

    }
  }
}